
.deleteUser {
    margin-top: 250px;
    margin-bottom: 50px;
    width: 900px;
}
.deleteUser h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}

.deleteUser hr {
    color: #cccccc;
    margin-bottom: 20px;
}
.deleteUserForm {
    display: flex;
}
.deleteUser input{
    margin: 5px 10px;
    border: 1px solid darkgrey;
}

.deleteUser pre {
    border: 1px solid darkgray;
    padding-left: 10px;
    padding-top: 10px;
}

#delBtn,#delBtn2  {
    padding: 0px 10px;
    cursor: pointer;
    background-color: #eeecec;
}


