main * {
    margin:auto;
    text-align: center;
}
.adminEventList {
    margin-top: 250px;
    margin-bottom: 50px;
    width: 900px;
}

.userEventList {
    margin-top: 250px;
    margin-bottom: 50px;
    width: 1260px;
}

.pageTitle_container h1,
.pageTitle_container h3{
    margin-top: 20px;
    margin-bottom: 10px;
}


.pageTitle_container hr {
    color: #cccccc;
    margin-top: 20px;
    margin-bottom: 20px;
}

.adminEventList .event_box {
    width: 900px;
    text-align: left;
}

.userEventList .event_box {
    width: 1200px;
    text-align: left;
}


.event_box>div {
    display: inline-block;
    width: 280px;
    margin: 50px 5px;
}

.adminEventList button {
    text-align: center;
    padding: 4px 10px;
    background-color: whitesmoke;
    border: 1px solid darkgray;
    cursor: pointer;
    width: 90px;
}


.eventDetail {
    margin-top: 250px;
    margin-bottom: 50px;
    width: 1220px;
}

 table {
    width: 100%;
    border-top: 1px solid lightgray;
    border-collapse: collapse;
}

.eventDetail * {
    text-align: left;
}

.eventDetail th {
    background-color: #eeecec;
}

.eventDetail th,
.eventDetail td {
    border-bottom: 1px solid lightgray;
    padding:10px 10px;

}

.pageTitle_container h3 {
    padding: 5px;
}

.eventForm {
    margin-top: 250px;
    margin-bottom: 50px;
    width: 900px;
}
.eventForm *{
    text-align: left;
}

.button_container{

}
.eventForm th {
    background-color: #eeecec;
    width: 150px;
}
.eventForm th,
.eventForm td {
    border-bottom: 1px solid lightgray;
    padding: 10px;
    margin-left: 10px;
}

.button_container {
    margin-left: 10px;
}

.eventForm .eventName {
    width: 700px;
    border: 1px solid lightgray;
}

.eventForm .button_container {
    margin-top: 20px;
    margin-left: 700px;
}

.button_container button {
    margin: 20px 2px;
    text-align: center;
    padding: 4px 10px;
    background-color: whitesmoke;
    border: 1px solid darkgray;
    cursor: pointer;
    width: 80px;

}
