/*itemList*/

.itemList {
    margin-top: 250px;
    margin-bottom: 50px;
    width: 900px;
}

main * {
    margin:auto;
    text-align: center;
}


.itemList h1 {
    margin-top: 20px;
    margin-bottom: 10px;
}


.itemList hr {
    color: #cccccc;
    margin-bottom: 20px;
}

.board-container input{
    margin: 5px 10px;
    border: 1px solid darkgrey;
}

.itemList select {
    width: 80px;
    height: 30px;
}

.search-button {
    width: 90px;
    height: 30px;
    background-color: rgb(84, 108, 92);
    color: #eeecec;
    cursor: pointer;
    border: none;
}

.itemList .search-container {
    margin-bottom: 20px;
}


.itemList table {
    width: 100%;
    border-top: 1px solid lightgray;
    border-collapse: collapse;
}

.itemList th {
    background-color: #eeecec;
    border-bottom: 1px solid lightgray;
    padding: 10px;
}

.itemList td {
    border-bottom: 1px solid lightgray;
    padding: 10px;
}

.itemList th:first-of-type {
    width: 6%;
}

.itemList th:nth-of-type(5) {
    width: 10%;
}



.itemList .update a {
    padding: 2px 10px;
    background-color: whitesmoke;
    border: 1px solid darkgray;
    cursor: pointer;
    font-size: 14px;
}

.itemUpload-button {
    margin-top: 60px;
    padding: 4px 15px;
    background-color: whitesmoke;
    border: 1px solid darkgray;
    cursor: pointer;
    font-size: 15px;
}


.paging-active {
    background-color: rgb(216, 216, 216);
    border-radius: 5px;
    color: rgb(24, 24, 24);
    padding: 2px;
}
.paging-container {
    width:100%;
    height: 70px;
    /*display: inline-flex;*/
    position: relative;
    margin-top: 50px;
    margin : auto;
}
.paging {
    color: black;
    width: 80%;
    align-items: center;
    position: absolute;
    transform: translate(calc(1/8*100%), 0);
    margin: 20px 0;
}

/*itemAdmin*/

.itemAdmin {
    margin-top: 250px;
    margin-bottom: 50px;
    width: 900px;
}

.itemAdmin * {
    text-align: left;
}

.itemAdmin h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}

.itemAdmin hr {
    color: #cccccc;
    margin-bottom: 20px;
}

.itemAdmin table {
    width: 100%;
    border-top: 1px solid lightgray;
    border-collapse: collapse;
}

.itemAdmin th,
.itemAdmin td {
    border-bottom: 1px solid lightgray;
    padding: 5px;
    margin-left: 10px;
}

.itemAdmin th{
    width: 200px;
    padding-left: 10px;
    background-color: #eeecec;
}

.itemAdmin select {
    width: 80px;
    height: 30px;
    margin: 5px 10px;
}


.itemAdmin  input {
    margin: 5px 10px;
    padding-left: 5px;
}


.itemAdmin tr:nth-of-type(n+2) input {
    border: 1px solid darkgrey;
}

.select_img {
    padding-left: 10px;
}

.topImage {
    padding: 5px 10px ;
}
 #imgNamef,
 #imgNamef1 {
    border: none;
}

img.select_img1 {
    padding-top: 30px;
}


.itemAdmin .button_container {
    margin-left: 630px;
    margin-top: 20px;
}

.itemAdmin .button_container * {
    text-align: center;
    padding: 4px 10px;
    background-color: whitesmoke;
    border: 1px solid darkgray;
    cursor: pointer;
    width: 80px;
    margin-left: 5px;
}

/*itemUpload*/

.itemUpload {
    margin-top: 250px;
    margin-bottom: 50px;
    width: 900px;
}

.itemUpload * {
    text-align: left;
}

.itemUpload h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}

.itemUpload hr {
    color: #cccccc;
    margin-bottom: 20px;
}

.itemUpload table {
    width: 100%;
    border-top: 1px solid lightgray;
    border-collapse: collapse;
}

.itemUpload th,
.itemUpload td {
    border-bottom: 1px solid lightgray;
    padding: 5px;
    margin-left: 10px;
}

.itemUpload th{
    width: 200px;
    padding-left: 10px;
    background-color: #eeecec;
}

.itemUpload select {
    width: 80px;
    height: 30px;
    margin: 5px 10px;
}


.itemUpload input {
    margin: 5px 10px;
    padding-left: 5px;
    border: 1px solid darkgrey;
}

.itemUpload #imgNamef,
.itemUpload #imgNamef1 {
    border: none;
}

.itemUpload #imgNamef1 {
    padding-top: 20px;
}

.itemUpload .button_container {
    margin-left: 710px;
    margin-top: 20px;
}

.itemUpload .button_container * {
    text-align: center;
    padding: 4px 10px;
    background-color: whitesmoke;
    border: 1px solid darkgray;
    cursor: pointer;
    width: 80px;
    margin-left: 5px;
}


/*itemDetail*/

.itemDetail {
    margin-top: 250px;
    margin-bottom: 50px;
    width: 1000px;
}

.itemDetail .itemInfo {
    display: flex;
}

.itemDetail-container table {
    height: 300px;
    width: 500px;
    border-collapse: collapse;
    margin-left: 70px;
}

.itemDetail-container table * {
    font-size: 15px;
    font-weight: 500;
    text-align: left;
}
.itemDetail-container #itemPrice {
    width: 100px;
    padding-left: 50px;
}

.itemDetail-container #cartAmount{
    width: 50px;
    text-align: center;
}
.itemDetail-container th {
  height: 70px;
}
.itemDetail-container td {
    width: 80%;
    height: 70px;
}
.itemDetail-container #itemName {
    font-size: 30px;
    font-weight: 1000;
    height: 50px;
}

.itemDetail-container #totalItemPrice {
    width: 100px;
    font-size: 20px;
    font-weight: 1000;
    width: 100px;
    padding-left: 20px;
}

.itemDetail-container tr:nth-of-type(6) th {
    border-bottom: 1px solid darkgray;
    padding-bottom: 10px;
}

 .itemCheck {
    margin-left: 560px;
    margin-top: 30px;
    margin-bottom: 50px;
}


.itemDetail-container #cartButton {
    text-align: center;
    padding: 8px 10px;
    background-color: whitesmoke;
    border: 1px solid darkgray;
    cursor: pointer;
    width: 120px;
    margin-left: 5px;
}

.itemDetail-container #buyButton {
    text-align: center;
    color: whitesmoke;
    cursor: pointer;
    margin-left: 10px;
    width: 120px;
    background-color: rgb(84, 108, 92);
    padding: 8px 10px;
    border: none;
    font-weight: 1000;
    font-size: 18px;
}

.itemDetail_menu_container span {
    cursor: pointer;
    background-color: #eeecec;
    width: 150px;
    border-top: 1px solid darkgray;
    border-left: 1px solid darkgray;
    border-right: 1px solid darkgray;
    padding: 5px 50px;
    line-height: 35px;
}

.itemDetail_menu_container {
    margin-top: 100px;
    margin-bottom: 30px;
    border-bottom: 1px solid darkgray;
    /*padding-bottom: 5px;*/
}

.itemDetail_menu_container .checked {
    padding-top: 10px;
    background-color: white;
}


