* {
    box-sizing: border-box;
    margin : 0;
    padding: 0;
}

a { text-decoration: none;  }

ul {
    list-style-type: none;
    height: 48px;
    width: 100%;
    background-color: #30426E;
    display: flex;
}

ul > li {
    color: lightgray;
    height : 100%;
    width:90px;
    display:flex;
    align-items: center;
}

ul > li > a {
    color: lightgray;
    /*margin:auto;*/
    /*padding: 10px;*/
    /*font-size:20px;*/
    align-items: center;
}

ul > li > a:hover {
    color :white;
    border-bottom: 3px solid rgb(209, 209, 209);
}

#logo {
    color:white;
    font-size: 18px;
    padding-left:40px;
    margin-right:auto;
    display: flex;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Noto Sans KR", sans-serif;
}
a {
    text-decoration: none;
    color: black;
}
button,
input {
    border: none;
    outline: none;
}
.board-container {
    width: 60%;
    height: 1200px;
    margin: 0 auto;
    /* border: 1px solid black; */
}
.search-container {
    background-color: rgb(253, 253, 250);
    width: 100%;
    height: 110px;
    border: 1px solid #ddd;
    margin-top : 10px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-form {
    height: 37px;
    display: flex;
}
.search-option {
    width: 100px;
    height: 100%;
    outline: none;
    margin-right: 5px;
    border: 1px solid #ccc;
    color: gray;
}
.search-option > option {
    text-align: center;
}
.search-input {
    color: gray;
    background-color: white;
    border: 1px solid #ccc;
    height: 100%;
    width: 300px;
    font-size: 15px;
    padding: 5px 7px;
}
.search-input::placeholder {
    color: gray;
}
.search-button {
    /* 메뉴바의 검색 버튼 아이콘  */
    width: 20%;
    height: 100%;
    background-color: rgb(22, 22, 22);
    color: rgb(209, 209, 209);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
}
.search-button:hover {
    color: rgb(165, 165, 165);
}
table {
    border-collapse: collapse;
    width: 100%;
    border-top: 2px solid rgb(39, 39, 39);
}
tr:nth-child(even) {
    background-color: #f0f0f070;
}
th,
td {
    width:300px;
    text-align: center;
    padding: 10px 12px;
    border-bottom: 1px solid #ddd;
}
td {
    color: rgb(53, 53, 53);
}
.page {
    color: black;
    padding: 6px;
    margin-right: 10px;
}
.paging-active {
    background-color: rgb(216, 216, 216);
    border-radius: 5px;
    color: rgb(24, 24, 24);
}
.paging-container {
    width:100%;
    height: 70px;
    /*display: inline-flex;*/
    position: relative;
    margin-top: 50px;
    margin : auto;
}
.paging {
    color: black;
    width: 80%;
    align-items: center;
    position: absolute;
    transform: translate(calc(1/8*100%), 0);
    margin: 20px 0;
}
.itemUpload-button {
    width: 8%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    position: absolute;
    margin-top: 10px;
    right: 35px;
    background-color: rgb(89,117,196);
    border-radius: 5px;
    border : none;
    cursor: pointer;
    color: #fff;
}
.board-container {
    margin-top: 50px;
}

.pageTitle_container {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
.item-admin {
    font-weight: bold;
    color: #ffffff;
}

/*itemAdmin*/
* { box-sizing:border-box; }
form {
    width:400px;
    height:600px;
    display : flex;
    flex-direction: column;
    align-items:center;
    position : absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%) ;
    border: 1px solid rgb(89,117,196);
    border-radius: 10px;
}
.input-field {
    width: 300px;
    height: 40px;
    border : 1px solid rgb(89,117,196);
    border-radius:5px;
    padding: 0 10px;
    margin-bottom: 10px;
}
button {
    background-color: rgb(89,117,196);
    border-radius: 5px;
    border : none;
    cursor: pointer;
    color : white;
    width:80px;
    height:40px;
    font-size: 17px;
    margin : 10px 0 30px 0;
}

.category_option {
    width: 300px;
    height: 40px;
    border : 1px solid rgb(89,117,196);
    border-radius:5px;
    padding: 0 10px;
    margin-bottom: 10px;
}
label {
    width:300px;
    height:30px;
    margin-top :4px;
}
.button_container {
    width: 300px;
    display: flex;
    justify-content: space-evenly;
}
.title {
    font-size : 20px;
    font-weight: bold;
    margin: 40px 0 30px 0;
}
.category_option .current_option {
    font-weight: bold;
}

/*itemUpload*/
* { box-sizing:border-box; }
form {
    width:400px;
    height:600px;
    display : flex;
    flex-direction: column;
    align-items:center;
    position : absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%) ;
    border: 1px solid rgb(89,117,196);
    border-radius: 10px;
}
.input-field {
    width: 300px;
    height: 40px;
    border : 1px solid rgb(89,117,196);
    border-radius:5px;
    padding: 0 10px;
    margin-bottom: 10px;
}
button {
    background-color: rgb(89,117,196);
    border-radius: 5px;
    border : none;
    cursor: pointer;
    color : white;
    width:80px;
    height:40px;
    font-size: 17px;
    margin : 10px 0 30px 0;
}

.category_option {
    width: 300px;
    height: 40px;
    border : 1px solid rgb(89,117,196);
    border-radius:5px;
    padding: 0 10px;
    margin-bottom: 10px;
}
label {
    width:300px;
    height:30px;
    margin-top :4px;
}
.button_container {
    width: 300px;
    display: flex;
    justify-content: space-evenly;
}
.title {
    font-size : 20px;
    font-weight: bold;
    margin: 40px 0 30px 0;
}
.category_option .current_option {
    font-weight: bold;
}

/*orderList*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Noto Sans KR", sans-serif;
}
a {
    text-decoration: none;
    color: black;
}
button,
input {
    border: none;
    outline: none;
}
.board-container {
    width: 60%;
    height: 1200px;
    margin: 0 auto;
    /* border: 1px solid black; */
}
.search-container {
    background-color: rgb(253, 253, 250);
    width: 100%;
    height: 110px;
    border: 1px solid #ddd;
    margin-top : 10px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-form {
    height: 37px;
    display: flex;
}
.search-option {
    width: 100px;
    height: 100%;
    outline: none;
    margin-right: 5px;
    border: 1px solid #ccc;
    color: gray;
}
.search-option > option {
    text-align: center;
}
.search-input {
    color: gray;
    background-color: white;
    border: 1px solid #ccc;
    height: 100%;
    width: 300px;
    font-size: 15px;
    padding: 5px 7px;
}
.search-input::placeholder {
    color: gray;
}
.search-button {
    /* 메뉴바의 검색 버튼 아이콘  */
    width: 20%;
    height: 100%;
    background-color: rgb(22, 22, 22);
    color: rgb(209, 209, 209);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
}
.search-button:hover {
    color: rgb(165, 165, 165);
}
table {
    border-collapse: collapse;
    width: 100%;
    border-top: 2px solid rgb(39, 39, 39);
}
tr:nth-child(even) {
    background-color: #f0f0f070;
}
th,
td {
    width:100px;
    text-align: center;
    padding: 10px 12px;
    border-bottom: 1px solid #ddd;
}
td {
    color: rgb(53, 53, 53);
}
.order-dely {
    width: 250px;
    padding: 10px 14px;
}
.page {
    color: black;
    padding: 6px;
    margin-right: 10px;
}
.paging-active {
    background-color: rgb(216, 216, 216);
    border-radius: 5px;
    color: rgb(24, 24, 24);
}
.paging-container {
    width:100%;
    height: 70px;
    /*display: inline-flex;*/
    position: relative;
    margin-top: 50px;
    margin : auto;
}
.paging {
    color: black;
    width: 80%;
    align-items: center;
    position: absolute;
    transform: translate(calc(1/8*100%), 0);
    margin: 20px 0;
}
.board-container {
    margin-top: 50px;
}

.pageTitle_container {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
.order-admin {
    font-weight: bold;
    color: #ffffff;
}

/* orderDetail*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Noto Sans KR", sans-serif;
}
a {
    text-decoration: none;
    color: black;
}
button,
input {
    border: none;
    outline: none;
}
.board-container {
    width: 60%;
    height: 1200px;
    margin: 0 auto;
}
table {
    border-collapse: collapse;
    width: 100%;
    border-top: 2px solid rgb(39, 39, 39);
}
.tr6:nth-child(even) {
    background-color: #f0f0f070;
}
.tr2, .tr4 {
    background-color: #f0f0f070;
}
.tr2 td, .tr6 td {
    display: flex;
    justify-content: center;
    align-items: center;
}
th,
td {
    width:100px;
    text-align: center;
    padding: 10px 12px;
}
td {
    color: rgb(53, 53, 53);
}
.tr2 {
    width: 100%;
}
.tr1, .tr2, .tr3, .tr4, .tr5, .tr6 {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
.dely-addr, .requestment, .addt, .req {
    width: 50%;
}
.delyAddr, .orderReq {
    width: 100%;
}
.block-div {
    width: 100%;
    height: 50px;
    border-bottom: 1px solid rgb(39, 39, 39);
}
.board-container {
    margin-top: 50px;
}

.pageTitle_container {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
.order-admin {
    font-weight: bold;
    color: #ffffff;
}
button {
    background-color: rgb(89,117,196);
    border-radius: 5px;
    border : none;
    cursor: pointer;
    color : white;
    width:100px;
    height:40px;
    font-size: 15px;
    margin : 30px 0 20px 20px;
}
.button_container {
    width: 100%;
    display: flex;
    justify-content: center;
}
input {
    background : none;
    text-align: center;
}