
/*orderList*/


.orderList {
    margin-top: 250px;
    margin-bottom: 50px;
    width: 900px;
}

main * {
    margin:auto;
    text-align: center;
}


.orderList h1 {
    margin-top: 20px;
    margin-bottom: 10px;
}


.orderList hr {
    color: #cccccc;
    margin-bottom: 20px;
}

.orderList .board-container input{
    margin: 5px 10px;
    border: 1px solid darkgrey;
}

.orderList select {
    width: 80px;
    height: 30px;
}

.orderList .search-button {
    width: 90px;
    height: 30px;
    background-color: rgb(84, 108, 92);
    color: #eeecec;
    cursor: pointer;
    border: none;
}

.orderList .search-container {
    margin-bottom: 20px;
}


.orderList table {
    width: 100%;
    border-top: 1px solid lightgray;
    border-collapse: collapse;
}

.orderList th {
    background-color: #eeecec;
    border-bottom: 1px solid lightgray;
    padding: 10px;
}

.orderList td {
    border-bottom: 1px solid lightgray;
    padding: 10px;
}


.orderList td:nth-of-type(4) {
   font-size: 14px;
}

.orderList td:last-of-type a {
    padding: 2px 10px;
    background-color: whitesmoke;
    border: 1px solid darkgray;
    cursor: pointer;
    font-size: 14px;
}

.paging-active {
    background-color: lightgrey;
    border-radius: 4px;
    padding: 0px 2px;
}

.paging-container {
    width:100%;
    height: 70px;
    /*display: inline-flex;*/
    position: relative;
    margin-top: 50px;
    margin : auto;
}

.paging {
    color: black;
    width: 80%;
    align-items: center;
    position: absolute;
    transform: translate(calc(1/8*100%), 0);
    margin: 20px 0;
}

/*orderDetail*/

.orderDetail {
    margin-top: 250px;
    margin-bottom: 50px;
    width: 900px;
}

.orderDetail {
    margin-top: 250px;
    margin-bottom: 50px;
    width: 900px;
}


.orderDetail h3 {
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: left;
}

.orderDetail hr {
    color: #cccccc;
    margin-bottom: 20px;
}

.orderDetail table {
    width: 100%;
    border-top: 1px solid lightgray;
    border-collapse: collapse;
}

.orderDetail th,
.orderDetail td {
    border-bottom: 1px solid lightgray;
    padding: 5px;
    margin-left: 10px;
}

.orderDetail th{
    width: 120px;
    padding-left: 10px;
    background-color: #eeecec;
}

.orderDetail tr:nth-of-type(n+9) td{
    border-right: 1px solid lightgray;
    text-align: center;
    font-weight: 500;
    height: 30px
}

.orderDetail tr:nth-of-type(n+9) input{
   width: 100px;
}

.orderDetail tr:nth-of-type(n+9) td:last-of-type {
    border-right: none;
}

.orderDetail .button_container {
    margin-left: 620px;
    margin-top: 20px;
}

.orderDetail .button_container * {
    text-align: center;
    padding: 4px 10px;
    background-color: whitesmoke;
    border: 1px solid darkgray;
    cursor: pointer;
    width: 80px;
    margin-left: 5px;
}

.orderDetail #sendBtn {
    width: 90px;
    height: 30px;
    background-color: rgb(84, 108, 92);
    color: #eeecec;
    border: none;
}



