
/*payment*/

.payment {
    margin-top: 250px;
    margin-bottom: 50px;
    width: 900px;
    text-align: left;
}

main * {
    margin:auto;
}

hr {
    color: gainsboro;
}

h1 {
    padding-bottom: 20px;
    display: flex;
    font-size: 1.8em;
}

table {
    width: 100%;
    border-top: 1px solid lightgray;
    border-collapse: collapse;
}

table *{
    text-align: center;
}

td {
    border-bottom: 1px solid lightgray;
    border-left: 1px solid lightgray;
    padding: 10px 20px;
}

th {
    background-color: #eeecec;
    border-bottom: 1px solid lightgray;
    padding: 10px 20px;
}

th:first-child, td:first-child {
    border-left: none;
}

table:nth-of-type(1) td,
table:nth-of-type(3) td {
    border-left: none;
}

table:nth-of-type(n+2) th{
    width: 30%;
}
.order-req-input {
    border: 1px solid lightgray;
    width: 500px;
}

.total {
    text-align: center;
    border: 1px solid lightgray;
    margin-top: 50px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#form>h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}

.payment table:nth-of-type(1) tr {
    text-align: center;
    line-height: 30px;
}

select {
    width: 80px;
    height: 30px;
}

.payment-Btn {
    text-align: center;
    color: whitesmoke;
    cursor: pointer;
      margin: auto;
    width: 150px;
    background-color: rgb(84, 108, 92);
    padding: 8px 10px;
    border: none;
    font-weight: 1000;
    font-size: 18px;
}
.delyBtn {
    margin-left: 10px;
    margin-right: 20px;
    border: 1px solid gray;
    padding: 2px 5px;
}

.payCheck {
    text-align: center;
    margin-top: 30px;
}

.total h3, .total h2 {
    margin: 20px;
}
.delyBtn {
    margin-left: 10px;
    margin-right: 20px;
    border: 1px solid gray;
    padding: 2px 5px;
    position: absolute;
    width: 70px;
    left: 85%;
}

.dely>input {
    width: 80%;
}

/*paymentConfirm*/

.paymentConfirm {
    margin-top: 250px;
    margin-bottom: 50px;
    width: 900px;
    text-align: left;
}

.paymentConfirm hr{
    margin-bottom: 50px;
}

.paymentConfirm tr:nth-of-type(n+3) th {
    width: 30%;
}

.ConfirmBtn {
    text-align: center;
    padding: 30px;
}

.ConfirmBtn button {
    width: 80px;
    height: 32px;
    border: 1px solid darkgray;
    margin-left: 10px;
}

.delyCheck2,
.orderReq {
    display: flex;
}



.delyInfo * ,
.orderReq>div:nth-of-type(1){
    width: 230px;
    line-height: 30px;
    padding: 10px 20px;
    background-color: #eeecec;
    border: 1px solid lightgray;
    border-left: none;
    font-weight: 1000;
    margin-left: 0;
}

.delyInfo {
    margin-right: 0;
    margin-left: 0;
}

.delyContent {
    display: flex;
    width: 100%;
    border-bottom: 1px solid lightgray;
}

.delyContainer {
    height: 50px;
    font-size: 13px;
}
.order-req {
    margin-left: 0;
    border: 1px solid lightgray;
    border-left: none;
    border-right: none;
    line-height: 50px;
    width: 70%;
}
.orderReq>div:nth-of-type(1){
    padding-right: 20px;
}


.delySection {
    width: 70%;
    margin: 0px;
    border-top: 1px solid lightgray;
    position: relative;

}

.delySection * {
margin: 0px;
}

.delyContainer li:nth-of-type(2) {
height: 30px;
margin-top: 20px;
position: absolute;
left: 0;
width: 100%;
}

.order-req-input {
border: 1px solid lightgray;
width: 500px;
margin-left: 10px;
}

.delyContainer>li {
margin-top: 10px;
margin-left: 10px;
}

.delyContainer:nth-of-type(n+2) li:nth-of-type(n+2) {
display: none;
}

.paymentConfirm .itemPrice {
    font-size: 12px;
    color: darkgray;
    margin-left: 5px;
}

.ConfirmBtn table *{
    line-height:30px ;
}

.paymentConfirm th {
    width: 30%;
}