/* reviewList */

.reviewList {
    margin-top: 250px;
    margin-bottom: 50px;
    width: 900px;
}

main * {
    margin:auto;
    text-align: center;
}


.reviewList h1 {
    margin-top: 20px;
    margin-bottom: 10px;
}

.reviewList hr {
    color: #cccccc;
    margin-bottom: 20px;
}

.reviewList input{
    margin: 5px 10px;
    border: 1px solid darkgrey;
}

.reviewList select#searchType {
    width: 80px;
    height: 30px;
}

#reviewSearchBtn {
    width: 90px;
    height: 30px;
    background-color: rgb(84, 108, 92);
    color: #eeecec;
    cursor: pointer;
    border: none;
}

.reviewList table {
    width: 100%;
    border-top: 1px solid lightgray;
    border-collapse: collapse;
}
.reviewList th {
    background-color: #eeecec;
    border-bottom: 1px solid lightgray;
    padding: 10px;
}

.reviewList td {
    border-bottom: 1px solid lightgray;
    padding: 10px;
}
.reviewList th:nth-of-type(1) {
    width: 20%;
}
.reviewList th:nth-of-type(2) {
    width: 50%;
}

.reviewList .regDate {
    font-size: 14px;
}

.reviewList img {
    width: 100px;
    height: 100px;
}


.reviewList .paging {
    margin-top: 10px;
    margin-bottom: 20px;
}
.reviewList .currPage {
    background-color: lightgrey;
    border-radius: 4px;
    padding: 0px 2px;
}

/*reviewDetail*/

.reviewDetail {
    margin-top: 250px;
    margin-bottom: 50px;
    width: 900px;
}

.reviewDetail * {
    text-align: left;
}


.reviewDetail h3 {
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 10px;
}


.reviewDetail table {
    width: 100%;
    border-top: 1px solid lightgray;
    border-collapse: collapse;
}


.reviewDetail td {
    border-bottom: 1px solid lightgray;
    padding: 10px;
    margin-left: 10px;
}

.reviewDetail td:first-of-type {
    width: 40%;
}
.reviewDetail .reviewDetailBold *{
    font-weight: 500;
}

.reviewDetail tr:nth-of-type(4) td {
    padding: 10px;
}

.reviewDetail th {
    background-color: #eeecec;
    border-bottom: 1px solid lightgray;
    padding: 10px;
    margin-left: 10px;
}

.reviewDetail img {
    width: 200px;
    height: 200px;
}

.linkBtn_container{
    margin-top: 20px;
}

.reviewDetail textarea {
border: none;
}

.linkBtn_container span,
.linkBtn_container a {
    margin-top: 10px;
    padding: 4px 10px;
    background-color: whitesmoke;
    border: 1px solid darkgray;
    cursor: pointer;
}

.linkBtn * {
    margin-right: 5px;
}


/*reviewUpdate*/

.reviewUpdate {
    margin-top: 250px;
    margin-bottom: 50px;
    width: 900px;
}


.reviewUpdate * {
    text-align: left;
}


.reviewUpdate h3 {
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 10px;
}


.reviewUpdate table {
    width: 100%;
    border-top: 1px solid lightgray;
    border-collapse: collapse;
}

.reviewUpdate td {
    border-bottom: 1px solid lightgray;
    padding: 10px;
    margin-left: 10px;
}

.reviewUpdate tr:nth-of-type(2) input {
    padding-left: 10px;
}

.reviewUpdate td:first-of-type {
    background-color: #eeecec;
    width: 100px;
}


.reviewUpdate .modBtn td {
    background-color: white;
}

.reviewUpdate input {
    margin: 4px 10px;
}

.reviewUpdate .imgCheck input {
    cursor: pointer;
}

.reviewUpdate .imgCheck img {
    margin-left: 10px;
    width: 100px;
    height: 100px;
}

.reviewUpdate tr:nth-of-type(2) input {
    border: 1px solid darkgrey;
}

.reviewUpdate #reviewTitle {
    padding: 0px 5px;
    width: 700px;
}

.reviewUpdate textarea {
    margin: 5px 10px;
    border: 1px solid darkgray;
    width: 700px;
    height: 150px;
    padding: 5px;
}

.reviewUpdate .modBtn input {
    text-align: center;
    margin-top: 10px;
    padding: 4px 10px;
    background-color: whitesmoke;
    border: 1px solid darkgray;
    cursor: pointer;
    width: 80px;
    margin-left: 760px;
    line-height: 16px;
    font-size: 16px;
}



/*reviewReplyInsert*/

.reviewReplyInsert {
    margin-top: 50px;
}

.reviewReplyInsert h3 {
    margin-bottom: 20px;
}

.reviewReplyInsert td:first-of-type {
    background-color: #eeecec;
    width: 100px;
}

.reviewReplyInsert textarea {
    margin: 5px 10px;
    border: 1px solid darkgray;
    width: 700px;
    height: 150px;
    padding: 5px;
}

.reviewReplyInsert input {
    margin: 5px 10px;
    border: 1px solid darkgrey;
}

.reviewReplyInsert tr:nth-of-type(5) td {
    background-color: white;
}

.reviewReplyInsert tr:last-of-type span {
    text-align: center;
    margin-top: 10px;
    padding: 4px 10px;
    background-color: whitesmoke;
    border: 1px solid darkgray;
    cursor: pointer;
    margin-right: 10px;
    width: 80px;
    margin-left: 750px;
}

/*reviewReplyDetail*/

.reviewReplyDetail {
    margin-top: 50px;
}

.reviewReplyDetail td:first-of-type {
    background-color: #eeecec;
    width: 100px;
}

.reviewReply {
    margin-top: 20px;
    margin-left: 680px;
}


.reviewReply * {
    text-align: center;
    margin-top: 10px;
    padding: 4px 10px;
    background-color: whitesmoke;
    border: 1px solid darkgray;
    cursor: pointer;
    margin-right: 10px;
    width: 80px;
}


/*reviewRupdate*/


.reviewRupdate * {
    text-align: left;
}

.reviewRupdate h3 {
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 10px;
}

.reviewRupdate table {
    width: 900px;
    border-top: 1px solid lightgray;
    border-collapse: collapse;
}

.reviewRupdate td {
    border-bottom: 1px solid lightgray;
    padding: 10px;
    margin-left: 10px;
}

.reviewRupdate td:first-of-type {
    background-color: #eeecec;
    width: 100px;
}


.reviewRupdate textarea {
    margin: 5px 10px;
    border: 1px solid darkgray;
    width: 700px;
    height: 150px;
    padding: 5px;
}
.reviewRupdate input {
    margin: 5px 10px;
    border: 1px solid darkgrey;
    height: 25px;
}


.reviewRupdate .modBtn td {
    background-color: white;
}

.reviewRupdate #ReUpdateBtn {
    text-align: center;
    padding: 4px 10px;
    background-color: whitesmoke;
    border: 1px solid darkgray;
    cursor: pointer;
    margin-right: 10px;
    width: 70px;
    line-height: 18px;
    margin-left: 770px;
}

/*reviewD*/

.reviewD table {
    border-top: 1px solid lightgray;
    border-collapse: collapse;
    width: 80%;
}

.reviewD th {
    background-color: #eeecec;
    border-bottom: 1px solid lightgray;
    padding: 10px;
}

.reviewD th:nth-of-type(2){
    width: 60%;
}

.reviewD td {
    border-bottom: 1px solid lightgray;
    padding: 10px;
    /*margin-left: 10px;*/
}

.reviewD .resultArea {
    border: none;
}


/*reviewInsert*/

.reviewInsert {
    margin-top: 250px;
    margin-bottom: 50px;
    width: 900px;
}

.reviewInsert * {
    text-align: left;
}


.reviewInsert h3 {
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 10px;
}

.reviewInsert table {
    width: 100%;
    border-top: 1px solid lightgray;
    border-collapse: collapse;
}

.reviewInsert td {
    border-bottom: 1px solid lightgray;
    padding: 10px 30px
}

.reviewInsert td:first-of-type {
    background-color: #eeecec;
    text-align: center;
}
.reviewInsert .reviewTitle {
    border: 1px solid darkgray;
    padding: 0px 5px;
    width: 700px;
}

.reviewInsert textarea {
    width: 700px;
    height: 300px;
    padding: 5px;
}

.reviewInsert tr:last-of-type td {
    background-color: white;

}
.reviewInsert .reviewCheck input {
    text-align: center;
    margin-top: 10px;
    padding: 4px 10px;
    background-color: whitesmoke;
    border: 1px solid darkgray;
    cursor: pointer;
    margin-right: 10px;
    width: 80px;
}

.reviewInsert .reviewCheck {
    margin-left: 650px;
}

