<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.meal.mapper.DeliveryMapper">

    <select id="selectDelivery" resultType="com.green.meal.domain.DeliveryVO">
        select * from delivery where user_id = #{userId};
    </select>

    <update id="delyProc" statementType="CALLABLE" parameterType="com.green.meal.domain.DeliveryVO">
        call delyProc(#{userId}, #{delyNo}, #{delyPlace}, #{delyAddr}, #{receiver}, #{delyPhone})
    </update>

    <update id="updateDelivery" parameterType="map">
        update delivery set receiver= #{dely0.receiver}, dely_place= #{dely0.delyPlace}, dely_phone= #{dely0.delyPhone}, dely_addr= #{dely0.delyAddr}, dely_no= #{dely0.delyNo} where receiver= #{dely1.receiver} and dely_place = #{dely1.delyPlace} and dely_phone= #{dely1.delyPhone} and dely_addr=#{dely1.delyAddr} and user_id = #{dely0.userId};
    </update>

    <update id="updateDelivery2">
        update delivery set dely_no = 0 where user_id = #{userId}
    </update>

    <update id="updateDelivery3" parameterType="map">
        update delivery set receiver= #{newDelyVo.receiver}, dely_phone= #{newDelyVo.delyPhone}, dely_addr= #{newDelyVo.delyAddr}
        where user_id = #{vo.userId} and dely_place = #{vo.delyPlace}
    </update>

    <delete id="deleteDelivery" parameterType="com.green.meal.domain.DeliveryVO">
        delete from delivery where receiver = #{receiver} and dely_place = #{delyPlace} and dely_no = #{delyNo} and dely_addr = #{delyAddr} and dely_phone = #{delyPhone} and user_id = #{userId}
    </delete>

    <select id="selectBase" resultType="int">
        select count(*) from delivery where dely_no = 1 and user_id = #{userId};
    </select>

    <select id="delyList" resultType="com.green.meal.domain.DeliveryVO">
        select * from delivery where user_id = #{userId}
    </select>

    <select id="selectedDely" parameterType="map" resultType="com.green.meal.domain.DeliveryVO">
        select * from delivery where user_id = #{userId} and dely_place = #{delyPlace}
    </select>

    <insert id="insertDely">
        insert into delivery(user_id, dely_no, dely_place, dely_addr, receiver, dely_phone) values(#{userId}, 1 ,'기본배송지',#{userAddr}, #{userName}, #{userPhone});
    </insert>

<!--    주문페이지에서 배송지 정보 업데이트 테스트(정무혁)  -->
<!--    <update id="updateDelyInBuy" parameterType="com.green.meal.domain.DeliveryVO">-->
<!--        update delivery set receiver=#{receiver} and dely_phone=${delyPhone} and dely_addr=#{dely_addr} where user_id=#{userId} and dely_place=#{delyPlace}-->
<!--    </update>-->
</mapper>


