<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.green.meal.mapper.ItemMapper">

    <sql id="searchCondition">
        <choose>
            <when test='option=="No"'>
                and item_no = #{keyword}
            </when>
            <when test='option=="Na"'>
                and item_name like concat('%', #{keyword}, '%')
            </when>
            <when test='option=="Pr"'>
                and item_price = #{keyword}
            </when>
            <when test='option=="Ca"'>
                and item_category1 like concat('%', #{keyword}, '%')
                or item_category2 like concat('%', #{keyword}, '%')
            </when>
            <otherwise>
                and item_no = #{keyword}
                or item_category1 like concat('%', #{keyword}, '%')
                or item_category2 like concat('%', #{keyword}, '%')
                or item_name like concat('%', #{keyword}, '%')
                or item_price = #{keyword}
            </otherwise>
        </choose>
    </sql>

    <sql id="findCategory">
        <choose>
            <when test='category=="한식" || category=="양식" || category=="중식/일식" || category=="분식/야식" || category=="세트상품"'>
                where item_category1 = #{category}
            </when>
            <when test='category=="비오는날" || category=="집들이" || category=="캠핑" || category=="술안주" || category=="혼밥"'>
                where item_category2 = #{category}
            </when>
        </choose>
    </sql>

    <select id="selectOne" parameterType="int" resultType="ItemVO">
        select * from item
        WHERE item_no = #{itemNo}
    </select>
    <select id="imageAdmin" resultType="com.green.meal.domain.ImageVO">
        select * from image
        WHERE item_no = #{itemNo}
    </select>

    <!-- Image Table -->
    <insert id="insert" parameterType="ItemVO">
        insert into item
        (item_category1, item_category2, item_name, item_amount, item_price, file_name, etc1)
        values
            (#{itemCategory1}, #{itemCategory2}, #{itemName}, #{itemAmount}, #{itemPrice}, #{fileName}, #{etc1})
    </insert>

    <!-- Image Insert 추가 -->
    <insert id="itemImgUpload" parameterType="com.green.meal.domain.ImageVO">
        insert into image
            (item_no, img_name, img_type)
        values
            (#{itemNo},#{imgName},#{imgType})
    </insert>

    <update id="itemAvg" parameterType="com.green.meal.domain.ReviewVO">
        update item
        set etc2 = (select sum(review_star) from review where item_no=#{itemNo}) div (select count(*) from review where item_no=#{itemNo} and user_id != 'admin')
        where item_no=#{itemNo};
    </update>

    <select id="selectItemNo" parameterType="string" resultType="int">
        select item_no
        from item
        where item_name = #{itemName}
    </select>

    <delete id="delete" parameterType="int">
        delete from item where item_no = #{itemNo}
    </delete>

    <update id="update" parameterType="ItemVO">
        update item
        set item_category1 = #{itemCategory1},
            item_category2 = #{itemCategory2},
            item_name = #{itemName},
            item_amount = #{itemAmount},
            item_price = #{itemPrice},
            file_name=#{fileName},
            etc1=#{etc1}
        where item_no = #{itemNo}
    </update>

    <!-- Image Update 추가 -->
    <update id="imageModify" parameterType="com.green.meal.domain.ImageVO">
        update image
        set img_name = #{imgName}
        where item_no = #{itemNo}
    </update>

    <select id="selectAll" resultType="itemVO">
        select *
        from item
    </select>

    <select id="searchResultCnt" parameterType="SearchCondition" resultType="int">
        select count(*)
        from item
        where true
        <include refid="searchCondition"/>
    </select>

    <select id="searchSelectPage" parameterType="SearchCondition" resultType="ItemVO">
        select *
        from item
        where true
        <include refid="searchCondition"/>
        order by item_no desc
        limit #{offset}, #{pageSize}
    </select>

    <select id="searchItems" parameterType="SearchCondition" resultType="ItemVO">
        select *
        from item
        where true
        <include refid="searchCondition"/>
        order by item_no desc
    </select>



    <!-- heeJeang item 상세페이지 itemDetail -->
    <!--    <select id="itemdetail" resultType="ItemVO">
            select item.item_no, item_name, item_price, img_name, img_type
            from item, image
            where item.item_no=#{itemNo} and item.item_no=image.item_no;
        </select>-->

    <select id="itemdetail" resultType="ItemVO">
        select *
        from item
        where item_no=#{itemNo}
    </select>

    <select id="imageDetail" resultType="com.green.meal.domain.ImageVO">
        select * from image
        where item_no=#{itemNo}
    </select>

    <select id="bestItems" resultType="ItemVO">
        select *
        from item
       where etc1 ='best' order by item_no desc
    </select>

    <select id="newItems" resultType="ItemVO">
        select *
        from item
        where etc1 ='new' order by item_no desc
    </select>

    <select id="category1" resultType="ItemVO" parameterType="String">
        select *
        from item
        where item_category1=#{itemCategory1}
    </select>

    <select id="category2" resultType="ItemVO" parameterType="String">
        select *
        from item
        where item_category2=#{itemCategory2}
    </select>

    <select id="highPrice"  resultType="ItemVO">
        select * from item <include refid="findCategory"/> order by item_price desc
    </select>

    <select id="lowPrice" resultType="ItemVO">
        select * from item <include refid="findCategory"/> order by item_price asc
    </select>

    <select id="latest"  resultType="ItemVO">
        select * from item <include refid="findCategory"/> order by item_no desc
    </select>

    <select id="review"  resultType="ItemVO">
        select i.item_no, i.item_category1, i.item_category2, i.item_name, i.item_amount, i.item_price, i.file_name
        from item i left outer join review r on i.item_no = r.item_no <include refid="findCategory"/> group by i.item_no order by count(*) desc;
    </select>


</mapper>




